#col1{
    background-color: rgb(255, 196, 228);
}
#col2{
    background-color: rgb(196, 231, 255);
}
#col3{
    background-color: rgb(255, 196, 196);
}
#col4{
    background-color: rgb(196, 255, 204);
}
#col5{
    background-color: rgb(196, 255, 252);
}
#col6{
    background-color: rgb(196, 233, 255);
} 
#col2{
    height: 400px;
}
#col3{
    height: 400px;
}
#col4{
    height: 400px;
}