#Header{
    background-color: rgb(255, 196, 228);
    text-align: center;
}

#Col1{
    background-color:rgb(196, 231, 255);
    text-align: center;
}

#Col2{
    background-color:rgb(202, 196, 255);
    text-align: center;
    height: 100px;
}

#Col3{
    background-color:rgb(251, 255, 196);
    text-align: center;
    height: 100px;
}

#Col4{
    background-color: rgb(75, 159, 187);
    text-align: center;
}
#Footer{
    background-color:rgb(226, 132, 243);
    
    text-align: center;
}